﻿@page "/secret"
@using System.Net.Http
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http
@inject IAccessTokenProvider TokenProvider

@attribute [Authorize]

<h1>Secret message from Api</h1>

<button @onclick="@GetSecret">Get secret message</button>

<br />
<br />
<br />

<p>@key</p>

<br />

<h3 style="color:lightsalmon">@secretMessage</h3>

@code
{
    private string secretMessage;
    private string key;

    private async Task GetSecret()
    {
        var tokenResult = await TokenProvider.RequestAccessToken();

        if (tokenResult.TryGetToken(out var token))
        {
            Http.DefaultRequestHeaders.Clear();
            Http.DefaultRequestHeaders.Add("Authorization", $"Bearer {token.Value}");

            var response = await Http.GetAsync("https://localhost:15001/api/secret");

            key = token.Value;

            secretMessage = await response.Content.ReadAsStringAsync();
        }

    }
}